<% title "Instructions" %>

<%= render partial: "siblings/nav", locals: { page: :instructions } %>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Published at</td>
      <td>Created at</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @siblings_instructions.each do |t| %>
      <tr>
        <td><%= t.id %></td>
        <td><%= t.name %></td>
        <td><%= t.published_at %></td>
        <td><%= t.created_at %></td>
        <td>
          <%= link_to 'UID', t.uid, class: "btn" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
