<% title "Siblings" %>

<%= render partial: "siblings/nav", locals: { page: :siblings } %>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Heroku app name</td>
      <td>Git repo</td>
      <td>Heroku repo</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @siblings.each do |t| %>
      <tr>
        <td><%= t.id %></td>
        <td><%= t.name %></td>
        <td><%= t.heroku_app_name %></td>
        <td><%= t.git_repo %></td>
        <td><%= t.heroku_repo %></td>
        <td>
          <%= link_to 'UID', t.uid, class: "btn" %>
          <% unless t.main_app? %>
            <%= link_to "Deploy", deploy_sibling_path(t), class: "btn", method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
